.navbar {
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar span {
  margin-right: 25px;
  font-size: 14px;
  cursor: pointer;
}

.navbar .right {
  float: right;
}